Button[type="submit"] {
  background-color: #9bc995;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  color: #ffffff;
}

Button[type="submit"]:hover {
  background-color: #7fad7b;
}

Button[type="button"] {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: #0d1b2a;
}

.blog-page-container .edit {
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  color: #0d1b2a;
}
