#card-body-container {
  margin: 2% auto 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2em;
}
.card-body {
  border-radius: 1.5rem;
  background-color: #fff;
  color: #595959;
  padding: 1.2em;
}

a {
  text-decoration: none;
  color: #006d77;
  transition: color 0.3s ease;
}

a:hover {
  color: #7a7c85;
}

#card-body-container .card-title {
  font-size: 24px;
  font-weight: bold;
  color: #0d1b2a;
  position: relative;
  line-height: 1.2em;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 0 0 1rem 0;
  text-align: center;
}

#card-body-container .blog-card-date {
  font-size: 1rem;
  line-height: 1.2em;
  font-weight: 700;
  margin: 0 0 1.25rem 0;
  color: #595959;
  display: block;
}

#card-body-container .blog-card-text {
  font-size: 1rem;
  line-height: 1.5em;
  margin: 0 0 1.25rem 0;
  color: #0d1b2a;
  white-space: pre-line;
  word-break: break-word;

  letter-spacing: -0.003em;
  display: block;
}

#card-body-container .blog-card-author {
  padding: 1em;
  text-align: center;
  font-size: 1rem;
  line-height: 1.2em;
  font-weight: 600;
  margin: 0 0 1.25rem 0;
  color: #595959;
  display: block;
}
